.navbar{
    background-color: white;
    padding-right: 15px;
    padding-left: 15px;
    border-bottom: 1px solid grey;
    margin-bottom: 100px;
    
}

.navdiv{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    width:150px;
    height: 33px;
    img{
        box-sizing: border-box;
    }
}

li{
    display: inline-block;
}

li a{
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

button{
    background-color: black;
    margin-left: 10px;
    border-radius: 10px;
    width: 150px;
    box-sizing: border-box;
}

button a{
    color: white;
    font-weight: bold;
    font-size: 15px;
}

*{
    text-decoration: none;
}

.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20%;
    margin-left: 20%;
    padding-bottom: 5%;
    border-bottom:1px solid grey;
    img{
        width: 50%
    }
}
@media (max-width: 1160px){
    .intro{
        display: block;
    }
}
.companies{
    height: 100px;
   
}
.companiescontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 20%;
    margin-left: 20%;
    padding-bottom: 5%;
    gap: 5%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 5%;
    border-bottom:1px solid grey;
   
    img{
        width: 10%;
        
    }
}
.funinfo{
    margin-right: 20%;
    margin-left: 20%;
   
}
.images{
   
    img{
        max-width: 100%;
    }
    
}