/*General*/
@font-face {
    font-family: "Inter";
    src: url(fonts/Inter.ttf);
}

body{
    font-family: "Inter";
    margin:0;
}
.websitecontent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-site{
    margin-top: 100px;
    width: 1000px;
}

@media (max-width: 600px){
    .main-site{
        margin-top: 150px;
        width: 550px;
    }
}

/*Navigation*/
.navbar{
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    background-color: white;
    top: 0px;
    width: 98%;
    margin:  0px 1% 0px 1%;
}

.navbuttons{
    display:flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
}

.navbutton{
    display: flex;
    gap: 20px;
    padding: 0;
    li a{
       
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
        display: block;
    }
    img{
       height: 6px;
       margin-left: 6px;
    }
    div{
        padding: 0px 10px 0px 10px;
        display: flex;  
        text-align: center;
        align-items: center;
    }
    li{
        list-style: none; 
    }
}

.demoline{
    padding-right: 10px;
    border-right:1px solid  #e5e5e5;
}

.freebarky{
    div{
        background-color: black;
        border-radius: 5px;
        padding: 0px 2px 0px 2px;
    }
    a{
        
        color: white;
    }
    :hover{
        border-radius: 5px;
        background-color: #353535;
    }
}

.navdiv{
    display:flex;
    align-items: center;
    gap: 2%;
}

.logo{
    
    img{
        width:100px;
        height: 33px;
        box-sizing: border-box;
    }
}

@media (max-width: 600px){
    .navbar{
        border-bottom: 0px;
        padding: 20px;
    }
    .navbutton{
        display: none;
    }
}

/*Intro*/
.intro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding-bottom: 7%;
    border-bottom:1px solid  #e5e5e5;
    h1{
        font-size: 45px;
    }
    img{
        width: 500px;
    }
}

p{
    font-size: 18px;
    color: #666666;
}

.intro-text, .toptext{
    width: 450px;
}

@media (max-width: 600px){
    .intro{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        text-align: center;
    }
}

/*Companies*/
.companies{
    display: flex;
    align-items: center;
    height: 250px;
    border-bottom:1px solid  #e5e5e5;
}
.companiescontainer{
    display: flex;
    flex-direction: row;
    row-gap: 15px;
    column-gap: 40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    img{
        flex-shrink: 0;
       height: 40px;
        width: 100px;
        object-fit: contain;
    }
}

@media (max-width: 600px){
    .intro{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        text-align: center;
    }
}

/*Fun Feedback*/
.funfeedback{
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom:1px solid  #e5e5e5;
}

.images{
    border-radius: 10px;
    border: 15px solid transparent;
    box-shadow: 10px 10px 30px 15px #f4f4f4;
    margin-bottom: 5%;
    img{
        max-width: 100%;
    }
}

.toptext{
    padding-bottom: 5%;
    p{
        font-size: 15px;
    }
}

.userinfo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.userphoto{
    height: 50px;
    img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}
.userinfotext{
   padding: 0;
   margin-left: 10px;
}

@media (max-width: 600px){
    .funfeedback{
        
        padding-top: 5%;
        padding-bottom: 5%;
        border-bottom:1px solid  #e5e5e5; 
    }
    .funinfo{
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .toptext{
        text-align: center;
        width: 100%;
    }
}

/*Start Plan*/

.startplancontainer{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.startplan{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.perks{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    border-bottom:1px solid #f4f4f4;
}
.perkscontainer{
    margin-top: 5%;
    background-color:#f4f4f4;
    border-radius: 1%;
    width: 700px;
    li{
        list-style: none;
    }
}
.doglove{
    text-align: center;
}

@media (max-width: 600px){
    .startplancontainer{
        height: 30%;
        width: 100%;
    }
}
/*Perks*/

table{
  
  width: 100%;
    img{
    width: 20px;;
    }
    border-collapse: collapse;
    
}

tr.border_bottom td {
    border-bottom: 1px solid #e5e5e5;
    padding: 2%;
}
tr.last_data td {
    padding: 2%;
}
td.check{
  text-align: end;  
}

.perkstable{
    margin: 5%;
}

.teams{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

/*Build*/
.build{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
    div{
        text-align: center;
    }
}
.team, .percent{
    border-right:1px solid #f4f4f4;
   padding-right: 10px;
}
.percent, .percentnoline{
    flex: 1;
    p{
       margin-bottom: 0px;
    }
    h2{
        margin-top: 0px;
        font-size: 45px;
    }
}
.rowbadges{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;

    img{
        width: 470px;
        height: 190px;
    }
}

@media (max-width: 600px){
    .teams{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 600px){
    .rowbadges{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .badgetext{
        text-align: start;
    }
    .team, .percent, .percentnoline{
       flex: 1;
        border-right:0px;
       padding-right: 10px;
    }
}
/*Footer*/

footer{
    padding: 100px;
    margin-top: 5%;
    border-top: 1px solid #f4f4f4;
    display: flex;
    justify-content: center;
   
    li{
        list-style: none;
    }
}
.aboutbarky{
    display: flex;
    flex-direction: row;
}

.getbarky, .download{
    display:flex;
    flex-direction: row;
    
}
    
footer{
    li{
        list-style: none;
    }
}
.footercontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.socials{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    width: 170px;
    li{
        flex: 1;
    }
    
    img{
        width: 20px;
    }
}
ul li.role{
   font-size: 15px;
    font-weight: bold; 
}
ul li{
    font-size: 14px;
    line-height: 30px;
    
}
.barkysocials{
    display: flex;
    flex-direction: column;
}
@media (max-width: 600px){
    .footercontainer{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        
    }
    footer{
        width: 600px;
        padding: 50px;
        justify-content: start;
    }
    .aboutbarky {
        gap: 170px;
    }
    .getbarky, .download{
        display:flex;
        flex-direction: column;
    }
   ul{
    padding: 0px;
   }
}
/*Fonts*/

.header{
    font-size: 36px;
    
}

/*Buttons*/

.button {

        
    a{
        text-decoration: none;
        color: black;
    }
    :hover{
       
        border-radius: 5px;
        background-color:#f4f4f4;
    }
   
}
 

 .empty-button{
    a{
        text-decoration: none;
        color: black;
    }
    :hover{
        border-radius: 5px;
        background-color:#f4f4f4;
    }
   
}

 .black-buttons{
    background-color: black;
    display: inline-block;
    border-radius: 5px;
    div{
        display: inline-block;
        padding: 5px;
    }
    a{ 
        text-decoration: none;
        color: white;
    }
    :hover{
        border-radius: 5px;
        background-color: #353535;
     }
}
