.navbar{
    background-color: white;
    padding-right: 15px;
    padding-left: 15px;
    border-bottom: 1px solid grey;
    margin-bottom: 100px;
    
}

.navdiv{
    display:flex;
    align-items: center;
    justify-content: space-between;
    li{
        display: inline-block;
    }
    
    li a{
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    }
}
.logo{
    
    img{
        width:150px;
    height: 33px;
        box-sizing: border-box;
    }
}

button{
    background-color: black;
    margin-left: 10px;
    border-radius: 10px;
    width: 150px;
    box-sizing: border-box;
}

button a{
    color: white;
    font-weight: bold;
    font-size: 15px;
}

*{
    text-decoration: none;
}

.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding-bottom: 5%;
    border-bottom:1px solid grey;
    img{
        width: 50%
    }
}
@media (max-width: 1160px){
    .intro{
        display: block;
    }
}
.companies{
    height: 100px;
   
}
.companiescontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    padding-bottom: 5%;
    gap: 5%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 5%;
    border-bottom:1px solid grey;
   
    img{
        width: 10%;
        
    }
}
.funinfo{
   
   
}
.images{
   
    img{
        max-width: 100%;
    }
    
}
.toptext{
    width: 50%;
    
}
.quote{
    text-align: center;
}
.userinfo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.userphoto{
    height: 68px;
    img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    
}
.main-site{
    
    margin-left: 10%;
    margin-right: 10%;
}

.funfeedback{
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom:1px solid grey;
}
.startplancontainer{
    width: 50%;
    text-align: center;
  
   
}
.startplan{
    display: flex;
    justify-content: center;
    align-items: center;
}
.perks{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    border-bottom:1px solid grey;
}
.perkscontainer{
    margin-top: 5%;
    background-color: bisque;
    border-radius: 1%;
    width: 507px;
    li{
        list-style: none;
    }
}

table{
  
  width: 100%;
    img{
    width: 20px;;
    }
    border-collapse: collapse;
    
}

tr.border_bottom td {
    border-bottom: 1px solid black;
    padding: 2%;
}
td.check{
  text-align: end;  
}

.perkstable{
    margin: 5%;
}

.teams{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}
.build{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
    div{
        text-align: center;
    }
}
.team, .percent{
    border-right:1px solid grey;
   h2{
    margin-top: 0px;
   }
   padding-right: 10px;
}
.percent, .percentnoline{
    flex: 1;
}
.rowbadges{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5%;

    img{
        width: 470px;
        height: 190px;
    }
}
footer{
    margin-top: 5%;
    border-top:1px solid grey;
}
.share{
    li{
        list-style: none;
    }
    img{
        width: 20px;
    }
}
    